{% extends 'base.html' %}

{% block content %}


<ul>
{% if user.is_authenticated %}
<h1>Picks for {{ user.username}} </h1>
        {% for pick in object_list %}
            {% if user.id == pick.user_name.id %}
            <ul>
                
                <li><a href="{% url 'pick_details' pick.pk %}"></a>
                    Week {{pick.week}}: {{ pick.user_name.first_name }}
                    {{ pick.user_name.last_name }} -  {{ pick.team.team_name }}  
                    <!-- - <a href="{% url 'edit_pick' pick.id %}" >(Edit)</a>
                    <small><a href="{% url 'delete_pick' pick.pk %}">(Delete)</a></small> -->
                    <br/></li>  
            </ul> 
            {% endif %}
        {% endfor%}
{% else %} 
<h1>Login to get started</h1>      

{% endif %}

{% endblock %}